.Toolbar {
    height: 116px;
    background-color: var(--apple-green);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 37px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    background-image: url(../../../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 147px;
    height: 56px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
    .Toolbar {
        height: 77px;
        padding: 20px 25px;
    }
    .Logo {
        width: 98px;
        height: 37px;
    }
}